html, body{
  width: 100%;
  height: 100%;
}

#graph-side{
  position: fixed;
  width: 70vw;
  height: 700px;
}

#list-side{
  position: absolute;
  top: 0px;
  left: 70vw;
  width: 30vw;
}

/* #list-side{
  
} */


